// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Space out content a bit */

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
  .container {
    max-width: 56rem;
  }
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767.98px) {
  .custom_row {
    display: none;
  }
}

.chart {
  width: 100%;
  // min-height: 300px;
}

.pagination {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.loading {
  margin-top: 10px;
  text-align: center;
}

.intake {
  margin-top: 30px;
  // text-align: center;
}

