<h2 class="hidden-sm-down"><%= t 'expense.new_expense' %></h2>
<h3 class="hidden-md-up"><%= t 'expense.new_expense' %></h3>

<%= render 'form', expense: @expense %>

<hr>

<%= render 'display_table', expenses: Expense.given_group(current_group).order(id: :asc).reverse_order.limit(5) %>
