<h1 class="hidden-sm-down"><%= t 'expense.new_expense' %></h1>
<h3 class="hidden-md-up"><%= t 'expense.new_expense' %></h1>

<%= render 'form', expense: @expense %>

<hr>

<%= render 'display_table', expenses: Expense.order(id: :asc).reverse_order.limit(5) %>
